.conatiner {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  margin: 0 3% !important;
  padding-top: 50px;
  padding-bottom: 100px;
}
.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}
